/* Borrowed this css page from Chapter 17-7 from CIS 246 Textbook*/
/* Modified from original */

div.ui-widget-overlay {
	background: rgba(255, 255, 255, 0.7);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
div.ui-dialog {
	box-shadow: 0 7px 100px rgba(0, 0, 0, 0.6);
	border-radius: 4px; 
	outline: none;
	position: fixed;
	z-index: 1000;
	background: #fff;
}
div.ui-dialog-titlebar {
	height: 23px;
	background: url('../images/TitlebarRight.png') 
				no-repeat 
				top right,
				url('../images/TitlebarLeft.png')
				no-repeat
				top left;

	position: relative;
	z-index: 10;
}
span.ui-dialog-title {
	display: block;
	font-size: 13px;
	text-align: center;
	margin: 0 9px;
	padding: 4px 0 0 0;
	height: 19px;
	background: url('../images/Titlebar.png') 
				repeat-x 
				top;
	position: relative;
	z-index: 10;
}
div.ui-dialog-container {
	background: #fff 
				url('../images/TitlebarLeft.png') 
				no-repeat 
				top left;
}
button.ui-dialog-titlebar-close {
	position: absolute;
	width: 14px;
	height: 15px;
	top: 5px;
	left: 10px;
	border: none;
	background: url('../images/CloseOff.png') 
				no-repeat 
				top left;
	z-index: 10;
}
button.ui-dialog-titlebar-close:hover {
	background: url('../images/CloseOn.png') 
				no-repeat 
				top left;
}
button.ui-dialog-titlebar-close span {
	display: none;
}
button.ui-dialog-titlebar-close:focus {
	border: none;
	outline: none;    
}
div.ui-dialog-content  {
	padding: 10px;
}
div.ui-resizable-handle {
	border: none;
	position: absolute;
	z-index: 1;
}
div.ui-resizable-nw {
	width: 10px;
	height: 10px;
	top: -10px;
	left: -10px;
	cursor: nw-resize;
}
div.ui-resizable-n {
	height: 10px;
	top: -10px;
	left: 0;
	right: 0;
	cursor: n-resize;
}
div.ui-resizable-ne {
	width: 10px;
	height: 10px;
	top: -10px;
	right: -10px;
	cursor: ne-resize;
}
div.ui-resizable-w {
	width: 10px;
	left: -10px;
	top: 0;
	bottom: 0;
	cursor: w-resize;
}
div.ui-resizable-e {
	width: 10px;
	right: -10px;
	top: 0;
	bottom: 0;
	cursor: e-resize;
}
div.ui-resizable-sw {
	width: 10px;
	height: 10px;
	bottom: -10px;
	left: -10px;
	cursor: sw-resize;
}
div.ui-resizable-s {
	height: 10px;
	bottom: -10px;
	left: 0;
	right: 0;
	cursor: s-resize;
}
div.ui-resizable-se {
	width: 10px;
	height: 10px;
	bottom: -10px;
	right: -10px;
	cursor: se-resize;
}
