/*
pages that use this css : pages/info.php
*/
div.cContent #currentUl{
	position: absolute;
	top:25%;
	left:1%;
	list-style:none;
	padding:7%;
	columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;
	z-index: 1;
}
div.cContent #currentUl li {
	padding: 4% 3% 0 2%;
	text-align: left;
}
div.cContent ul#currentUl li.mousedOver{
	color: blue;
}
div.cContent ul#currentUl li#clickedLi{
	position:absolute;
	top: 30%;
	left:40%;
}
div.cContent div.orderHistorySqlView{
	position:absolute;
	top: 30%;
	left:10%;
}
div.cContent #infoDiv{
	position:absolute;
	top: 30%;
	left:40%;	
}