body{
	/*background-color: rgba(208, 234, 244, .3);*/
	color: #804000;
}
.count_frm{
	width:70%;
}
.rightSideBar{
	position:fixed;
	top:25%;
	left:85%;
	height:90%;
	width:15%;
	color:#fefbd8;
	font-size:20px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-variant: small-caps;
	/*background-color: #618685;*/
	z-index:0;
	/*background: linear-gradient(to bottom, #36486b 0%, #e0e0d1 100%);*/
	/*background: linear-gradient(to bottom, #618685 0%, #36486b 100%);*/
}
.typeMenu{
	position: fixed;
	top: 15%;
	left:0%;
	width:100%;
	height:9%;
	background: linear-gradient(to bottom, #618685 0%, #000000 100%);
	color:#FFFFFF;
	box-shadow: 1px 8px 24px #36486b;
	/*background: linear-gradient(to bottom, #e0e0d1 0%, #36486b 100%);*/
	/*background: linear-gradient(to top, #618685 0%, #36486b 100%);*/
	/*border-radius: 0% 0% 90% 20%;*/
	z-index:2;
	/*border-bottom:solid black 2px;
	-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
}
.typeMenu ul{
	position: absolute;
	bottom:35%;
}
.typeMenu ul li{
	margin-top: 5%;
	
}
.boozTypes li {
	position: absolute;
	/*top: 2%;*/
	height:60%;
	font-size: 20px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-variant: small-caps;
	list-style:none;
	text-align: center;
	/*-moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);*/
	letter-spacing: 1px;
	
	width:19%;
	color:#ffffff;
	z-index: 3;
}


.boozTypes li.typesSelected{
	text-decoration: underline;
	/*position: absolute;*/
	/*bottom:15%;*/
	/*background-color:rgba(20,20,20,.5);*/
	/*height:2em;*/
	/*color:#FFFFFF;*/
	/*border-radius: 14px;*/
	/*box-shadow: 0px -10px 0px 4px rgba(0, 0, 0, .5);*/
}
#tblTitle{
	position: absolute;
	margin:7% 0 0 30%;
	width:8%;
	text-align:right;
	font-family: helvetica;
	font-size: 1.7em;
	color:#000000;
	font-variant: small-caps;
	letter-spacing: 2px;
	color:#ffffff;
}

.boozDists{
	position: absolute;
	top:5%;
	right:15%;
	width: 100%;
	margin-top: 45%;
	height:100%;
	list-style: none;
	border-left: solid black 1px;
}
.boozDists ul{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	border-radius: 8px;
}

.boozDists li{
	margin-top: 15%;
	margin-left:3%;
	width:100%;
	height:9%;
	border:solid black 1px;
	text-align: center;
	background: linear-gradient(to top, #000000 0%, #618685 100%);
	border:solid 1px;
	box-shadow: inset 0px 0px 35px 2px #001a00;
	border-radius: 14px;
	letter-spacing: 1px;
	color:#ffffff;
}

.boozDists li p{
	
}
.boozDists li p{
	position: absolute;
	left:38%;
}
.tblContain{
	position: absolute;
	top:25%;
	left:0%;
	max-width:75%;
}
/*
div[id*="Div"] > table[id*="Table"]{
	width: 5em;
	border: solid blue 3px;
}

table[id*="Table"], table[id*="Table"] td{
	border: 1px solid black;
}
table[id*="Table"]{
	table-layout: auto;
	border-collapse: collapse;
	width:100%;
}
*/
#booz{
	table-layout: fixed;
	/*overflow-y: hidden;*/
	margin-top: 5%;
	margin-left: 5%;
	width:70%;
	border:solid black 20px;
	background-color: #618685;
	color:#FFFFFF;
	/*background-image: radial-gradient(circle, #ccebff , #618685);*/
	text-align: left;
	border:solid 1px;
	box-shadow: inset 0px 0px 55px 2px #001f33;
	border-radius: 14px;
	padding:40px;
}
#booz tbody tr td input{
	border:black solid 1px;
}
#booz tbody tr td{
	font-family: Bookman;
}
#booz th{
	height:2em;
	border-bottom:solid #000000 2px;
}

/*
#booz > tbody > tr:nth-child(odd) {
		background-color: #FFFFFF;
		}
*/
	
/*
#booz > tbody > tr:nth-child(even) {
		background-color: #FFFFFF;
		}
*/
	
#submitBtn {
	position: fixed;
	top:36%;
	left: 58%;
	height:6%;
	width:16%;
	background: linear-gradient(to top, #000000 0%, #618685 100%);
/*	box-shadow: inset 0px 0px 15px 4px #36486b; */
/*	background-image:radial-gradient(circle, #36486b 80%, #ffffff);*/
/*	background-color:#36486b;*/
/*	color:#fefbd8; */
	color: #ffffff;
	font-family:Helvetica;
	font-variant: small-caps;
	font-size:16px;
	border-radius: 15px;
	/*box-shadow: 4px 4px 3px grey;*/
	z-index: 3;
}

.boozDists li.selectedDiv{
	background: linear-gradient(to top, #000000 0%, #618685 100%);
	border:solid 1px;
	box-shadow: 0px 0px 35px 2px #001a00;
}

.currentInput{
	background-color: #e0e0d1;
	color:#000000;
}

.active table{
	position: relative;
	top:5%;
	left:2%;
	table-layout: fixed;
	margin-top: 5%;
	width:95%;
	color:#FFFFFF;
	-moz-box-shadow: 30px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 40px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 0px 40px 40px #737373;
	background-color: #737373;
	/*background-image: radial-gradient(#4d4d4d 70%, #008080 30%);*/
	padding:20px;
}
.active table td{
	font-family: Helvetica;
	/*padding: 5px 35px 5px 15px;*/
}
#soTable th, #coTable th, #crTable th, #yoTable th{
	border-bottom:solid #4d4d4d 2px;
	height:2em;
	color:#ccffff;
}
#soTable th, #soTable td, #coTable th, #coTable td, #crTable th, #crTable td, #yoTable th,#yoTable td{
	text-align: center;
}

/*
table[id*="Table"]{
	table-layout: auto;
	border-collapse: collapse;
	width:100%;
}
*/
input[id*="pBtn"]{
	position: relative;
	-moz-box-shadow: 30px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 40px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 0px 15px 2px #ffffff;
	background-image: radial-gradient(circle, #ffffff, #ccffff);
	border-radius: 18%;
	padding:7px;
	font:13px helvetica;
	z-index: 0;
}
/*In order for the orderFrmButtons div to line up with the table div directly above it, it's width must be the table div's width minus whatever padding times 2. As of right now the '.active table' css has a width of 95% and the 'orderFrmButtons' padding is at 3%; therefor the 'orderFrmButtons div' width must be 89%*/
#orderFrmButtons{
	position: relative;
	left:2%;
	width:89%;
	padding:3%;
	background-color: #737373;
	border-top: dotted #000000 2px;
}