#ps{
	margin-top: 30%;
	margin-left: 20%;
}
/*
pages that use this css : index.php, pages/info.php
*/
body{
	color: #804000;
	height: auto;
	width: auto;
}

div.cContent div.typeMenu{
	position: fixed;
	top: 15%;
	left:0%;
	height: 7%;
	width:100%;
	background: linear-gradient(to bottom, #618685 0%, #000000 100%);
	color:#ffffff;
	border-radius: 8px;
	box-shadow: 1px 8px 24px #36486b;
	z-index:2;
}

div.cContent div.typeMenu ul.boozTypes{
	position: absolute;
	bottom:-16.4px;
	right: 20%;
	width: 72%;
	/*border:solid 2px yellow;*/
}

div.cContent div.typeMenu ul.boozTypes li {
	position: relative;
	height:60%;
	width: 25%;
	padding-right: 5%;
	font-size: 25px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-variant: small-caps;
	list-style:none;
	display: inline;
	text-align: center;
	letter-spacing: 1px;
	width:19%;
	color:#ffffff;
	/*border:solid 2px yellow;*/
	z-index: 3;
}

div.cContent div.typeMenu ul.boozTypes li.typesSelected{
	text-decoration: underline;
	color: yellow;
}

div.cContent div.tblContain form#count_frm h2#tblTitle{
	position: absolute;
	margin:7% 0 0 30%;
	width:8%;
	text-align:right;
	font-family: helvetica;
	font-size: 1.7em;
	color:#000000;
	font-variant: small-caps;
	letter-spacing: 2px;
	color:#ffffff;
}

div.cContent div.rightSideBar{
	position:fixed;
	top:0%;
	left:82.5%;
	height:90%;
	width:15%;
	color:#fefbd8;
	font-size:20px;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-variant: small-caps;
	border-left: solid black 3px;
	z-index:0;
}

div.cContent div.rightSideBar ul.boozDists{
	position: absolute;
	top:25%;
	right: 5%;
	width: 100%;
	height:100%;
	list-style: none;
}

div.cContent div.rightSideBar ul.boozDists li{
	position: relative;
	margin-top: 15%;
	margin-left:10%;
	padding: 9px;
	width:80%;
	height:30px;
	border:solid black 1px;
	font-size:19px;
	text-align: center;
	background: linear-gradient(to top, #000000 0%, #618685 100%);
	box-shadow: inset 0px 0px 35px 2px #001a00;
	border-radius: 24px;
	letter-spacing: 1px;
	color:#ffffff;
}

div.cContent div.tblContain{
	position: absolute;
	top:25%;
	left:0%;
	max-width:75%;
}

div.cContent div.tblContain form#count_frm table#booz{
	table-layout: fixed;
	margin-top: 5%;
	margin-left: 5%;
	width:70%;
	border:solid black 20px;
	background-color: #618685;
	color:#FFFFFF;
	text-align: left;
	border:solid 1px;
	box-shadow: inset 0px 0px 55px 2px #001f33;
	border-radius: 14px;
	padding:40px;
}

div.cContent div.tblContain form#count_frm table#booz tbody tr td input{
	border:black solid 1px;
}

div.cContent div.tblContain form#count_frm table#booz tbody tr td{
	font-family: Bookman;
}

div.cContent div.tblContain form#count_frm table#booz th{
	height:2em;
	border-bottom:solid #000000 2px;
}

div.cContent div.tblContain form#count_frm input#submitBtn {
	position: fixed;
	top:390px;
	left: 84%;
	height:6%;
	width:12%;
	background: linear-gradient(to top, #000000 0%, #003399 100%);
	color: #ffffff;
	font-family:Helvetica;
	font-variant: small-caps;
	font-size:16px;
	border-radius: 15px;
	z-index: 3;
}

div.cContent div.rightSideBar ul.boozDists li.selectedDiv{
	background: linear-gradient(to top, #000000 0%, #618685 100%);
	border:solid 1px;
	box-shadow: 0px 0px 35px 2px #001a00;
}

div.cContent div.tblContain form#count_frm table#booz tbody tr.currentInput{
	background-color: #e0e0d1;
	color:#000000;
}

div.cContent div.tblContain form#count_frm form#orderFrm .active table{
	position: relative;
	top:5%;
	left:2%;
	table-layout: fixed;
	margin-top: 5%;
	width:95%;
	color:#ffffff;
	-moz-box-shadow: 30px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 40px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 0px 40px 40px #737373;
	background-color: #737373;
	padding:20px;
}

div.cContent div.tblContain form#count_frm form#orderFrm .active table tbody tr td {
	font-family: Helvetica;
	text-align: right;
}

div.cContent div.tblContain form#count_frm form#orderFrm .active table tbody tr td#name {
	text-align: left;
}

div.cContent div.tblContain form#count_frm form#orderFrm .active table th {
	border-bottom:solid #4d4d4d 12px;
	height:2em;
	color:#ccffff;
	text-align: center;
}

input[id*="pBtn"]{
	position: relative;
	-moz-box-shadow: 30px 2px 4px rgba(0, 0, 0,0.5);
	-webkit-box-shadow: 40px 2px 4px rgba(0, 0, 0, .5);
	box-shadow: inset 0px 0px 15px 2px #ffffff;
	background-image: radial-gradient(circle, #ffffff, #ccffff);
	border-radius: 18%;
	padding:7px;
	font:13px helvetica;
	z-index: 0;
}
/*In order for the orderFrmButtons div to line up with the table div directly above it, it's width must be the table div's width minus whatever padding times 2. As of right now the '.active table' css has a width of 95% and the 'orderFrmButtons' padding is at 3%; therefor the 'orderFrmButtons div' width must be 89%*/

div.cContent div.tblContain form#count_frm form#orderFrm div.active #orderFrmButtons{
	position: relative;
	left:2%;
	width:89%;
	padding:3%;
	background-color: #737373;
	border-top: dotted #000000 2px;
}
